* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #24C6DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: .5s;
  transition: .5s;
}

a {
  text-decoration: none;
  color: white;
}

.circle,
.triangle {
  position: absolute;
  ;
  display: block;
}

.circle {
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s;
  transition: .5s;
}

.circle:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.circle:nth-child(1) {
  width: 300px;
  height: 300px;
  border: 3px solid #fff;
  top: 150px;
  left: -100px;
  border-radius: 50%;
}

.circle:nth-child(2) {
  width: 120px;
  height: 120px;
  right: 90px;
  top: 80px;
  background: #fff;
}

.circle:nth-child(3) {
  width: 200px;
  height: 200px;
  right: 300px;
  bottom: -90px;
  border: 3px solid #fff;
}

.circle:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 390px;
  top: 50px;
  background: #fff;
}

.popup {
  position: absolute;
  top: calc(50% - 450px);
  left: calc(50% - 250px);
  width: 500px;
  height: 700px;
  background: #fff;
  border-radius: 12px;
  margin: 80px auto;
  z-index: 5;
  overflow: hidden;
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
  -moz-box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  -webkit-box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  text-align: center;
  -webkit-transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.popup .close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: .9em;
  font-weight: lighter;
  cursor: pointer;
  color: #8e54e9;
  -webkit-transition: .5s;
  transition: .5s;
}

.overlay {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.overlay::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  -webkit-transition: 3s;
  transition: 3s;
}

/*Form*/
.popup form {
  color: #8e54e9;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 1.1em;
  position: relative;
  left: -200%;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.formAddStudent {
  width: 100%;
  padding: 40px;
  background: #fff;

}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;

}

.inputBox input {
  width: 100%;
  padding: 7px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background-color: #fff !important;
}

.inputBox input::placeholder {
  opacity: 0;
}

.inputBox input:focus::placeholder {
  opacity: 1;
}

.inputBox .lbl {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  transition: .2s;
  pointer-events: none;

}

.inputBox .check {
  position: absolute;
  right: 10px;
  top: 15px;
  color: green;
  opacity: 0;
}

.inputBox input[type="text"]:focus~.lbl,
.inputBox input[type="text"]:valid~.lbl {
  font-size: 12px;
  transform: translate(0, -20px);
}

.dateInputAdd~.lbl {
  font-size: 12px;
  transition: .2s;
  transform: translate(0, -20px);
}

.formAddStudent .btnForm {
  margin-top: 50px;
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  color: #8e54e9;
  border: none;
  outline: none;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #fff;
}

.formAddStudent .btnForm:hover {
  transition-delay: .5s;
  transform: .5s;
  background: #8e54e9;
  color: #fff;
  box-shadow: 0 0 50px #8e54e9;
}

.formAddStudent .btnForm::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #8e54e9;
  border-left: 2px solid #8e54e9;
  -webkit-transition: .5s;
  transition: .5s;
}

.formAddStudent .btnForm::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #8e54e9;
  border-bottom: 2px solid #8e54e9;
  -webkit-transition: .5s;
  transition: .5s;
}

.formAddStudent .btnForm:hover::after,
.formAddStudent .btnForm:hover::before {
  width: 100%;
  height: 100%;
}

.mainContent {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

table {
  margin-top: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}

th,
td:first-child {
  background: #130468;
  color: white;
  padding: 10px 20px;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgb(90, 89, 143);
}

td {
  background: #D8E6F3;
  padding: 0 10px;
}

th:first-child,
td:first-child {
  text-align: left;
}



.errors {
  display: inline-block;
  position: absolute;
  top: 50px;
  z-index: 2;
  left: -40px;
  padding: 5px 10px;
  margin-left: 50px;
  max-width: 40%;
  color: white;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  background: rgb(90, 89, 143);
  text-transform: none;
  border-radius: 12px;
  opacity: 0;
}

.errors::after {
  width: 20px;
  height: 10px;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -5px;
  background: rgb(90, 89, 143);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.errActive {
  opacity: 1;
}


/*btns*/
.btn {
  margin-left: 15px;
  padding: 3px 35px 8px 35px;
  border: 1px solid #24C6DC;
  background: #32a1c9;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  max-height: 40px;
}

.btn:focus,
.btnResearch:focus {
  outline: none;
}

.btn:hover {
  -moz-box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  -webkit-box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  background: #24C6DC;
}

.btnResearch:hover {
  background: #24C6DC url('../img/researchWhite.png') center/30px 30px no-repeat;
}

.research {
  color: white;
}

.btnResearch {
  background: #32a1c9 url('../img/researchWhite.png') center/25px 25px no-repeat;
  width: 40px;
  height: 40px;
  border: solid 1px #ccc;
  border: 1px solid #24C6DC;
  border-radius: 50px;
  transition: all .3s;
  cursor: pointer;
  outline: none;
}

.btnResearch:focus {
  padding-left: 20px;
  width: 510px;
  background: #fff url('../img/research.png') 95%/30px 30px no-repeat;
  border: 0;
  border-left: 1px solid black;
  border-radius: 0 50px 50px 0;
}

.selectItems:focus~.btnResearch {
  padding-left: 20px;
  width: 510px;
  background: #fff url('../../img/research.png') 95%/30px 30px no-repeat;
  border: 0;
  border-left: 1px solid black;
  border-radius: 0 50px 50px 0;
}

.buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 360px;
}

.btncombo {
  display: flex;
  align-items: center;
}

.btncombo select {
  z-index: -999;
  opacity: 0;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 25px 0 0 25px;
}

.btncombo input,
.btncombo select {
  outline: none;
  font-size: 16px;
}

.selectItems {
  padding-left: 10px;
  height: 40px;
}

.selectItems option {
  padding-left: 20px;
}

/*Фиксированное значение таблице, чтобы не менялась при поиске*/
th:nth-child(1) {
  width: 54px;
}

th:nth-child(2) {
  width: 236px;
}

th:nth-child(3) {
  width: 246px;
}

th:nth-child(4) {
  width: 184px;
}

th:nth-child(5) {
  width: 145px;
}
